.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.rightSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 1090px;
  height: 100%;
}
.topSection {
  padding: 30px 30px 0px 30px;
}
.title {
  color: #22333b;
}
.options {
  display: flex;
  justify-content: center;
  gap: 117px;
  width: 100%;
  height: 170px;
}
.option1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  gap: 31px;
  box-sizing: border-box;
  padding: 41px 36px 41px 36px;
  background-color: #22333b;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s all ease-out;
}
.option1:hover {
  background-color: #3b5b69;
}
.option1 .optionText {
  color: #ffffff;
  width: 109px;
  font-weight: 700;
  text-decoration: none;
}
.option2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 262px;
  gap: 31px;
  box-sizing: border-box;
  padding: 41px 36px 41px 36px;
  background-color: #5e503f;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s all ease-out;
}
.option2:hover {
  background-color: #866e51;
}
.option2 .optionText {
  color: #ffffff;
  width: 109px;
  font-weight: 700;
}
.option1 .optionText:visited {
  text-decoration: none;
}
.bottomSection {
  width: 100%;
  box-sizing: border-box;
  padding: 36px 32px 0px 32px;
  height: 483px;
  background-color: rgba(34, 51, 59, 0.1);
}
.proveedorInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.proveedorList {
  overflow: auto; /* Agrega scroll cuando el contenido excede el tamaño del div */
  max-height: 300px; /* Altura máxima del div para mostrar solo una cantidad limitada de productos */
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
}
.proveedorList .title {
  width: 242px;
  height: 33px;
  font-size: 16px;
  padding: 8px;
}

.productoNombre {
  width: 25%;
}
.productoPrecio {
  width: 65px;
  text-align: right;
}
.productoModelo {
  width: 65px;
}
.productoProveedor {
  width: 65px;
}
.stock {
  width: 50px;
  text-align: center;
}
.marca {
  width: 100px;
  text-align: center;
}
.productosTable {
  border-collapse: collapse;
  width: 100%;
}
.productosTable {
  border-collapse: collapse;
  width: 100%;
}

.productosTable th,
.productosTable td {
  font-size: 14px;
  padding: 8px;
  border-bottom: 1px solid #22333b; /* Línea entre cada fila */
  border-right: 1px solid #22333b; /* Línea vertical entre las columnas */
}

/* Establecer borde derecho en el último elemento de la fila */
.productosTable th:last-child,
.productosTable td:last-child {
  border-right: none;
}

.productosTable th {
  text-align: center; /* Centrado de los títulos de las columnas */
}

/* Aplicamos estilos específicos para las celdas de la columna Precio */
.proveedorTelephone {
  text-align: right; /* Alineación a la derecha para el contenido de las celdas */
}

/* Alineamos al centro el contenido de las celdas de las columnas Marca y Stock */
.proveedorEmail,
.proveedorWeb,
.productoModelo {
  text-align: center;
}

/* Agrega estilos específicos para cada columna si es necesario */
