.inputText{
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 442px;
    height: 70px;
    background-color: #D9D9D9;
    color: black;
    font-weight: 700;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0px 30px;
    transition: 0.3s all ease-in;
    outline: none;
}
.inputText:focus{
    border:1px solid #22333B;
}
.inputText::placeholder{
    color: rgba(10, 9, 8, 0.36);
}
