.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.menuLateral {
  width: 276px;
  height: 100%;
}
.content{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 276px;
  background-color: #0A0908;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
  gap: 86px;
}
.titlebrand{
  color: #EAE0D5;
  font-size: 24px;
  padding: 30px 30px 0px 30px;
}
.optionsMenu .option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  gap: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.optionsMenu .option:hover{
  background-color: #5e503f;
}
.optionName{
  color:#EAE0D5;
  font-size: 14px;
  font-weight: 700;
}
.selectedOption {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22333b;
  width: 100%;
  height: 40px;
  gap: 25px;
  cursor: pointer;
}
.rightSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
    width: 1090px;
    height: 100%;
  }
  .topSection {
    padding: 30px 30px 0px 30px;
  }
  .title {
    color: #22333b;
  }
  .bottomSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 683px;
    background-color: rgba(34, 51, 59, 0.1);
    padding-top: 36px;
    gap: 20px;
  }
  .proveedorData {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1018px;
    height: 430px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
  }
  .proveedorData .title {
    box-sizing: border-box;
    padding: 4px 8px;
  }
  .form {
    display: flex;
    width: 998px;
    height: 340px;
  }
  .formularioMain{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .formLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 343px;
    height: 340px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 343px;
    height: 340px;
  }
  .btnAceptar {
    text-align: center;
    width: 270px;
    height: 39px;
    background-color: #22333b;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s all ease-in;
    cursor: pointer;
  }
  .btnAceptar:hover {
    background-color: #41697c;
  }
  .btnLimpiar {
    text-align: center;
    width: 270px;
    height: 39px;
    background-color: #c6ac8f;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s all ease-in;
    cursor: pointer;
  }
  .btnLimpiar:hover {
    background-color: #948473;
  }
  .backButton{
    text-align: center;
    width: 180px;
    height: 45px;
    background-color: #22333b;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s all ease-in;
    cursor: pointer;
    margin-left: 20px;
  }
  .backButton:hover{
    background-color: #436c80
  }
  .form{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .form input{
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 270px;
    height: 39px;
    color: black;
    font-weight: 700;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0px 30px;
    transition: 0.3s all ease-in;
    outline: none;
    border: 0.5px solid #000000;
}
.form input:focus{
    border:1px solid #22333B;
}
.form input::placeholder{
    color: rgba(10, 9, 8, 0.36);
}

